.CreateRecipeForm {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    max-height: 85vh;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 800px;
    background-image: url('https://afar.brightspotcdn.com/dims4/default/28dc81c/2147483647/strip/true/crop/1440x720+0+0/resize/1440x720!/quality/90/?url=https%3A%2F%2Fafar-media-production-web.s3.amazonaws.com%2Fbrightspot%2F91%2Fe5%2F098422d443269033550b65c333b2%2Fportugese-food-pastel-de-nata-tatiana-bralnina-shutterstock.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.CreateRecipeForm h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.CreateRecipeForm form {
    display: flex;
    flex-direction: column;
}

.CreateRecipeForm form label {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.CreateRecipeForm form input,
.CreateRecipeForm form select {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.CreateRecipeForm form button {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.CreateRecipeForm form button:hover {
    background-color: #555;
}

.errors {
    color: red;
    font-size: 15px;
}

#type {
    height: 37px;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
