/* CSS for SplashPage component */
.splash-container {
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.splash-header {
    margin-bottom: 50px;
}

.splash-header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.splash-header p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.splash-header a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s;
}

.splash-header a:hover {
    background-color: #0056b3;
}

.splash-image {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 500px;
    /* Or whatever height you prefer */
    overflow: hidden;
    /* This will make sure the overlay is contained within the image box */
}

.recipe-card-sp {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    color: #fff;
    /* White text */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    /* Smooth reveal */
}








.recipe-card-sp h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.recipe-card-sp p {
    margin: 0 0 10px;
}
