.splash-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.splash-header {
    margin-bottom: 5px;
}

.splash-header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.splash-header p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.splash-header a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s;
}

.splash-header a:hover {
    background-color: #0056b3;
}

.splash-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    /* This will make sure the overlay is contained within the image box */
}

.splash-image img {
    width: 100%;
    height: 800px;
    /* Or whatever height you prefer */
}

.shade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.recipe-card-sp {
    position: absolute;
    top: 20%;
    /* Adjust as needed */
    left: 15%;
    /* Adjust as needed */
    /* background: white; */
    background: rgba(255, 255, 255, 0.8);
    color: black;
    width: 70%;
    /* Adjust as needed */
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px black;
    bottom: 30%;
}

.recipe-card-sp button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    row-gap: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.signup-login-buttons:hover {
    font-weight: bolder;
}
