*/

.recipe-card {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* height: 300px; */
    width: 200px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-family: 'NYTCheltenham', Georgia, 'Times New Roman', Times, serif;
}

.recipe-card__image {
    width: 20rem;
    margin-bottom: 0.25rem;
    height: 20rem;
    row-gap: 100px;
    object-fit: cover;
    max-height: 500px;
    margin: 0 0.25rem;
    border: black 5px solid;
    /* Adjust this value to change the maximum height of the image */
}

.recipe-card__title,
.recipe-card__type,
.recipe-card__cook-time,
.recipe-card__owner {
    margin: 10px 0;
    text-align: center;
}

.rc-button-bar {
    width: 100%;
    display: flex;
    /* align-items: center; */
    gap: 0.5rem;
    justify-content: center;
}

.single-recipe-card-image-nav {
    display: flex;
    justify-content: center;
    margin: 0 .25rem;
}
