
*/ .recipe-card {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* height: 300px; */
    width: 200px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-family: 'NYTCheltenham', Georgia, 'Times New Roman', Times, serif;
}

.recipe-card__image {
    width: 100%;
    height: auto;
    row-gap: 100px;
    object-fit: cover;
    max-height: 500px;
    /* Adjust this value to change the maximum height of the image */
}

.recipe-card__title,
.recipe-card__type,
.recipe-card__cook-time,
.recipe-card__owner {
    margin: 10px 0;
    text-align: center;
}
