/* .recipes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
}

.recipe-card {
    flex: 0 0 calc(33.333% - 20px);
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.banner {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

.banner h1 {
    font-size: 3em;
    font-weight: bold;
    color: #333;
}

.slick-slider {
    width: 100%;
    height: 100px;
    /* adjust this as needed */
/* } */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner {
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

.banner h1 {
    font-size: 3em;
    font-weight: bold;
    color: #333;
}

.slick-slider {
    margin: 100px;
    height: 0px;
    /* margin-top:100px; */
    /* adjust this as needed */
}

button.slick-prev,
button.slick-prev:hover {
    margin-left: 10px;
}

button.slick-next,
button.slick-next:hover {
    right: 6px !important;
}


button.slick-arrow,
button.slick-arrow:hover {

    z-index: 1;
}

button.slick-arrow::before,
button.slick-arrow:hover::before {
    color: black;
    bottom: 25px;
    position: absolute;
    /* background-color: white; */
}

.slick-dots {
    position: absolute;
    height: 72px;
}

.rc-button-bar {
    margin-bottom: 80px;
}

.nav-link-container {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .return-home-link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }

  .return-home-link:hover {
    color: #777;
  }
